* {
    margin: 0;
    padding: 0;
    line-height: 140%;
}
body {
    font-family: 'TT Hoves';
    color: #222;
    flex-basis: 1280px;
    flex-shrink: 1;
    flex-grow: 0;
    height: 3000px;
}
section{
    padding: 0px calc(10.6vw - 16px);
    margin-bottom: calc(11vw + 19px);
}
section:last-child{
    margin-bottom: 0px;
}
.hello{
    background-image: url('../img/html_css_js\ 1.png');
    background-repeat: no-repeat;
    background-position: right 20px top 70px;
    background-size: calc(23.8vw + 90px);
}
.logo{
    margin-top: 37px;
    width: calc(9vw + 182px);
}
.courseData{
    font-size: calc(0.6vw + 14px);
    display: flex;
    flex-wrap: wrap;
    gap: 30px calc(11vw + 18.6px);
    margin-top: 85px;
    margin-bottom: 76px;
}
.courseInfo .value{
    font-size: calc(0.6vw + 14px);
    font-weight: 700;
}
.courseInfo .title{
    font-size: calc(0.6vw + 14px);
}
h1{
    font-family: 'Chava';
    font-size: calc(4.2vw + 26px);
}
p{
    font-size: calc(1vw + 14.3px);
    font-weight: 300;
}
.cta{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}
.primary{
    border-radius: 12px;
    background: #6E3ABA;
    flex-basis: 328px;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 20px 0px;
}
.secondary{
    border-radius: 12px;
    border: 1px solid #6E3ABA;
    color: #6E3ABA;
    flex-basis: 328px;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 20px 0px;
}




.title2{
    font-size: calc(2.7vw + 24px);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.58px;
    flex-basis: 315px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: calc(2.9vw + 4.2px);
}
.main_container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 900px;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: flex-start;
    gap: 0px 80px;
}
.container_1{
    flex-basis: 450px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 40px;
}
.old{
    width: calc(6.3vw + 185px);
    padding: 5px 18px 13px 0px;
    align-items: center;
}
.devInfo .title{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: calc(1vw + 14.3px);
}
.devInfo .value{
    font-size: calc(1vw + 14.3px);
}


.container_2{
    width: 450px;
    margin-bottom: 40px;
}
.girl{
    width: calc(5.2vw + 187.5px);
    padding: 5px 18px 13px 0px;
    align-items: center;
}


.container_3{
    flex-basis: 432px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 40px;
}
.boy{
    width: calc(2.2vw + 166.7px);
    padding: 5px 18px 13px 0px;
    align-items: center;
}


.container_4{
    flex-basis: 477px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 40px;
}
.emoji_girl{
    width: calc(4.8vw + 177.2px);
    padding: 5px 18px 13px 0px;
    align-items: center;
}



.purple{
    background: #6E3ABA;
}
h2{
    font-size: calc(2vw + 26px);
    font-weight: 700;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.time{
    display: flex;
    justify-content: space-around;
    margin: calc(4vw + 5px) 0;
}
.timeBlock{
    color: #2F1D4E;
}
.timeBlock .number{
    font-family: Chava;
    font-size: calc(13vw + 13px);
    line-height: 107.5%;
}
.timeBlock .date{
    text-align: center;
    font-size: calc(2vw + 3px);
    font-weight: 500;
    text-transform: uppercase;
}
.center{
    margin: 0 auto;
    width: 328px;
    padding: 20px 0px;
    gap: 10px;
    border-radius: 12px;
    background: #FFF;
    text-align: center;
    border: 1px solid #6E3ABA;
}
section.purple{
    padding-top: calc(4.4vw + 23px);
    padding-bottom: calc(5.2vw + 22px);
}

h4{
    font-size: calc(2.7vw + 24.1px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    margin-bottom: calc(7.7vw + 9px);
}
.containerInfo{
    display: flex;
    flex-wrap: wrap;
}
.containerInfo > .block_1{
    align-items: flex-start;
    gap: 20px;
    width: calc(8vw + 300px);
    margin-right: 120px;
}
.containerInfo > .block_2{
    align-items: flex-start;
    gap: 20px;
    width: calc(8vw + 300px);
}
.containerInfo > .block_3{
    align-items: flex-start;
    gap: 20px;
    width: calc(8vw + 300px);
    margin-right: 120px;
}
.containerInfo > .block_4{
    align-items: flex-start;
    gap: 20px;
    width: calc(8vw + 300px);
}
.block_1 > .title{
    font-size: calc(1vw + 14.3px);
    font-weight : 600;
    text-transform: uppercase;
}
.block_2 > .title{
    font-size: calc(1vw + 14.3px);
    font-weight : 600;
    text-transform: uppercase;
}
.block_3 > .title{
    font-size: calc(1vw + 14.3px);
    font-weight : 600;
    text-transform: uppercase;
}
.block_4 > .title{
    font-size: calc(1vw + 14.3px);
    font-weight : 600;
    text-transform: uppercase;
}
.block_1 > .value{
    font-size: calc(1vw + 14.3px);
    margin-bottom: calc(6.6vw + 5.13px);
}
.block_2 > .value{
    font-size: calc(1vw + 14.3px);
    margin-bottom: calc(2.4vw + 20.9px);
}
.block_3 > .value{
    font-size: calc(1vw + 14.3px);
    margin-bottom: calc(3.3vw + 42.4px);
}
.block_4 > .value{
    font-size: calc(1vw + 14.3px);
    margin-bottom: calc(3.3vw + 42.4px);
}
.ym{
    flex-basis: 200px;
    flex-grow: 1;
}
.ym img{
    width: 100%;
}
.ym_title{
    font-size: calc(2.6vw + 24px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.Legend{
    margin-top: calc(5.5vw + 19px);
    display: flex;
    gap: 20px 50px;
    flex-wrap: wrap;
}
.bio{
    flex-basis: 470px;
    flex-grow: 3;
}
.bio h3{
    font-size: calc(1vw + 34px);
    letter-spacing: 1.56px;
    color: #222;
    text-transform: capitalize;
    text-align: left;
}
.bio p{
   font-size: (1vw + 14.3px);
}
.achievments{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(1vw + 26px) calc(8.8vw - 23px);
    margin-top: calc(5.5vw + 15px);
}
.achievment span{
    display: block;
    margin-top: 10px;
    font-size: calc(0.5vw + 14px);
}


.prog{
    border: 2px solid black;
    padding: calc(4.4vw + 23px) calc(4.9vw + 2px) calc(1.3vw + 18px);
    position: relative;
}
.corner{
    width: calc(8vw);
    position: absolute;
    top: -2px;
    right: -2px;
}
.prog h4{
    margin-bottom: 16px;
    font-size: calc(2vw + 26px);
    font-weight: 500;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
}
.nameLesson{
    padding: 24px 0;
    border-bottom: 1px solid #A1A1A1;
}
.prog .primary{
    width: 424px;
    margin-top: 34px;
    color: #FFF;
    background: #6E3ABA;
    margin-bottom: 0;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}



section.container_diplom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B" 
                         "A C";
}
.container_diplom img{
    width: calc(11.4vw + 284px);
    grid-area: A;
    margin-right: 20px;
}
.container_diplom h5{
    font-size: calc(2.7vw + 24px);
    text-transform: uppercase;
    letter-spacing: 0.34px;
    font-weight: 500;
    grid-area: B;
}
.container_diplom p{
    font-size: (1vw + 14.3px);
    grid-area: C;
}

.zp h4{
    margin-bottom: 40px;
}
.zp p{
    margin-bottom: 36px;
}
.zp img{
    width: calc(81.4vw + 22.6px);
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
}
.flex_container img{
    width: calc(19vw + 334.3px);
}
.gifts{
    display: block;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}
.gifts div{
    padding-bottom: 25px;
}



.feedback{
    border-radius: 12px;
    background: #F0F7FD;
    padding: 50px 20px 44px;
    flex-basis: 280px;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feedback p{
    font-size: calc(1vw + 14.3px);
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 40px;
}
.user{
    display: flex;
    gap: 14px;
}
.username{
    font-size: 18px;
    line-height: 27px;
    align-items: center;
}
.user img{
    border-radius: 50%;
}
.feedbacks{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
    flex-basis: 900;
    flex-shrink: 0;
    flex-grow: 1;
}



.flex_container_about{
    display: flex;
    flex-wrap: wrap;
}
.flex_container_about img{
    width: 110px;
    margin-bottom: 40px;
}
.about{
    margin: 0 80px 40px 0;
}
.about_us{
    font-size: calc(1vw + 14.3px);
    font-weight: 600;
    text-transform: uppercase;
    width: 370px;
}
.achiev_container{
    flex-direction: column;
}
.achiev_container h4{
    font-weight: 700;
    letter-spacing: 0.58px;
    margin-bottom: 0;
}
.achiev_container span{
    margin-bottom: 40px;
}
.achiev{
    margin-bottom: 40px;
}




.gallery_container h4{
    margin-bottom: 14px;
}
.gallery_container p{
    margin-bottom: 24px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.gallery img{
    width: 450px;
    margin: 0 24px 24px 0;
}



section.black{
    display: flex;
    flex-wrap: wrap;
}
.black_flex_container{
    display: block;
}
.black{
    background-color: #222;
    padding: 80px calc(10.6vw - 15.8px) 100px calc(10.6vw - 15.8px);
}
.black h4{
    color: #FFF;
    width: 270px;
    margin: 0 180px 79px 0;
}
.infoCourse_container{
    margin-bottom: 90px;
}
.infoCourse{
    width: 350px;
    display: block;
    margin-bottom: 24px;
}
.infoCourse p{
    color: #FFF;
    text-transform: uppercase;
    display: inline;
    width: 150px;
}
.white{
    background-color: #fff;
    border-radius: 12px;
    padding: 60px 68px 50px 69px;
    width: 300px;
    height: fit-content;
    text-align: center;
    position: relative;
}
.purple_corner{
    font-size: calc(2.5vw + 30.5px);
    position: absolute;
    top: -41px;
    left: -47px;
    background-color: #6E3ABA;
    border-radius: 50%; 
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
}
h6{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
form input{
    margin-top: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(161, 161, 161, 0.42);
    display: block;
    width: 270px;
}
input:last-child{
    background-image: url(../img/image\ 1771.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    margin-bottom: 30px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.17);
}
.tel_container img{
    display: none;
}
form .primary{
    width: calc(6.6vw + 225px);
    margin-top: 34px;
    color: #FFF;
    background: #6E3ABA;
    margin-bottom: 41px;
}
form b{
    font-size: 18px;
    font-weight: 600;
    text-transform: lowercase;
    opacity: 0.5;
    color: #222;
    margin-bottom: 10px;
}
.consult_info{
    font-size: 18px;
    text-transform: lowercase;
    opacity: 0.5;
    color: #222;
}



@media (max-width: 700px){
    .nameLesson:nth-child(8){
        border: 0;
        padding-bottom: 0;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        width: 424px;
        margin-top: 34px;
        color: #FFF;
        background: #6E3ABA;
        margin-bottom: 0;
    }



    section.container_diplom{
        grid-template-areas: "B" 
                             "A"
                             "C";
    .container_diplom img{
        grid-area: B;
    }
    .container_diplom h2{
        grid-area: A;
    }
    .container_diplom p{
        grid-area: C;
    }
}

.purple_corner{
    font-size: calc(2.5vw + 30.5px);
    position: absolute;
    top: -30px;
    background-color: #8c00ff;
    width: 75px;
    border-radius: 50%; 
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

}
   



