* {
    margin: 0;
    padding: 0;
    line-height: 140%;
}
body {
    font-family: 'TT Hoves';
    color: #222;
    flex-basis: 1280px;
    flex-shrink: 1;
    flex-grow: 0;
    height: 3000px;
}
section{
    padding: 0px calc(10.6vw - 16px);
    margin-bottom: calc(11vw + 18.6px);
}
section:last-child{
    margin-bottom: 0px;
}
.hello{
    background-image: url('../img/html_css_js\ 1.png');
    background-repeat: no-repeat;
    background-position: right 20px top 70px;
    background-size: calc(23.8vw + 90px);
}
.logo{
    margin-top: 37px;
    width: calc(9vw + 182px);
}
.courseData{
    font-size: calc(0.6vw + 14px);
    display: flex;
    flex-wrap: wrap;
    gap: 30px calc(11vw + 18.6px);
    margin-top: 85px;
    margin-bottom: 76px;
}
.courseInfo .value{
    font-size: calc(0.6vw + 14px);
    font-weight: 700;
}
.courseInfo .title{
    font-size: calc(0.6vw + 14px);
}
h1{
    font-family: 'Chava';
    font-size: calc(4.2vw + 26px);
}
p{
    font-size: calc(1vw + 14.3px);
    font-weight: 300;
}
.cta{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}
.primary{
    border-radius: 12px;
    background: #6E3ABA;
    flex-basis: 328px;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 20px 0px;
}
.secondary{
    border-radius: 12px;
    border: 1px solid #6E3ABA;
    color: #6E3ABA;
    flex-basis: 328px;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 20px 0px;
}




.title2{
    font-size: calc(2.7vw + 24px);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.58px;
    flex-basis: 315px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: calc(2.9vw + 4.2px);
}
.main_container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 900px;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: flex-start;
    gap: 0px 80px;
}
.container_1{
    flex-basis: 450px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 40px;
}
.old{
    width: calc(6.3vw + 185px);
    padding: 5px 18px 13px 0px;
    align-items: center;
}
.devInfo .title{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: calc(1vw + 14.3px);
}
.devInfo .value{
    font-size: calc(1vw + 14.3px);
}


.container_2{
    width: 450px;
    margin-bottom: 40px;
}
.girl{
    width: calc(5.2vw + 187.5px);
    padding: 5px 18px 13px 0px;
    align-items: center;
}


.container_3{
    flex-basis: 432px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 40px;
}
.boy{
    width: calc(2.2vw + 166.7px);
    padding: 5px 18px 13px 0px;
    align-items: center;
}


.container_4{
    flex-basis: 477px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 40px;
}
.emoji_girl{
    width: calc(4.8vw + 177.2px);
    padding: 5px 18px 13px 0px;
    align-items: center;
}



.purple{
    background: #6E3ABA;
}
h3{
    font-size: calc(2vw + 26px);
    font-weight: 700;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.time{
    display: flex;
    justify-content: space-around;
    margin: calc(4vw + 5px) 0;
}
.timeBlock{
    color: #2F1D4E;
}
.timeBlock .number{
    font-family: Chava;
    font-size: calc(13vw + 13px);
    line-height: 107.5%;
}
.timeBlock .date{
    text-align: center;
    font-size: calc(2vw + 3px);
    font-weight: 500;
    text-transform: uppercase;
}
.center{
    margin: 0 auto;
    width: 328px;
    padding: 20px 0px;
    gap: 10px;
    border-radius: 12px;
    background: #FFF;
    text-align: center;
    border: 1px solid #6E3ABA;
}
section.purple{
    padding-top: calc(4.4vw + 23px);
    padding-bottom: calc(5.2vw + 22px);
}

h4{
    font-size: calc(2.7vw + 24.1px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    margin-bottom: calc(7.7vw + 9px);
}
.containerInfo{
    display: flex;
    flex-wrap: wrap;
}
.containerInfo > .block_1{
    align-items: flex-start;
    gap: 20px;
    width: calc(8vw + 300px);
    margin-right: 120px;
}
.containerInfo > .block_2{
    align-items: flex-start;
    gap: 20px;
    width: calc(8vw + 300px);
}
.containerInfo > .block_3{
    align-items: flex-start;
    gap: 20px;
    width: calc(8vw + 300px);
    margin-right: 120px;
}
.containerInfo > .block_4{
    align-items: flex-start;
    gap: 20px;
    width: calc(8vw + 300px);
}
.block_1 > .title{
    font-size: calc(1vw + 14.3px);
    font-weight : 600;
    text-transform: uppercase;
}
.block_2 > .title{
    font-size: calc(1vw + 14.3px);
    font-weight : 600;
    text-transform: uppercase;
}
.block_3 > .title{
    font-size: calc(1vw + 14.3px);
    font-weight : 600;
    text-transform: uppercase;
}
.block_4 > .title{
    font-size: calc(1vw + 14.3px);
    font-weight : 600;
    text-transform: uppercase;
}
.block_1 > .value{
    font-size: calc(1vw + 14.3px);
    margin-bottom: calc(6.6vw + 5.13px);
}
.block_2 > .value{
    font-size: calc(1vw + 14.3px);
    margin-bottom: calc(2.4vw + 20.9px);
}
.block_3 > .value{
    font-size: calc(1vw + 14.3px);
    margin-bottom: calc(3.3vw + 42.4px);
}
.block_4 > .value{
    font-size: calc(1vw + 14.3px);
    margin-bottom: calc(3.3vw + 42.4px);
}